<section class="l-content-fixed section">
  <header class="section-header">
    <h2 class="section-title">SignUp</h2>
    <p class="section-subtitle">新規登録</p>
  </header>
  <div class="section-form">
    <%=form_with model:@user, class: "form-simple", local: true do |f|%>
      <p class="form-label">名前</p>
      <p class="form-input">
        <%=f.text_field :name%>
      </p>
      <p class="form-label">メールアドレス</p>
      <p class="form-input">
        <%=f.text_field :email%>
      </p>
      <p class="form-label">パスワード</p>
      <p class="form-input">
        <%=f.text_field :password%>
      </p>
      <p class="form-label">確認のためもう一度</p>
      <p class="form-input">
        <%=f.text_field :password_confirmation%>
      </p>
      <p class="form-btn-holder">
       <%=f.button '登録する', class: 'btn'%>
      </p>
    <%end%>
  </div>
</section>